.navbar-dark {
  background-color: #1d1c18;
}

.jumbotron {
  color: #f2f2f2;
  background-color: #e9921e;
  border-radius: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
  padding-top: 6rem;
}

.navbar-brand-logo {
  width: 41px;
}

.row-content {
  padding: 5rem 0;
  border-bottom: 1px ridge;
}

.footer {
  color: #f2f2f2;
  background-color: #1d1c18;
  padding: 1.5rem 0;
}

.link:link,
.link:visited {
  display: inline-block;
  padding: .5rem;
  color: #e9921e;
  background-color: #1d1c18;
  transition: all .2s;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #f2f2f2;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);
  transform: scale(1.1);
}

.link:active {
  color: #e9921e;
  transform: scale(1.05);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .5);
}

.address {
  font-size: .8rem;
}

.social-media {
  text-align: center;
}

.email-icon {
  color: #fefefe;
  border-radius: 4px;
  background-color: #a9329e;
  transition: background-color .2s;
}

.email-icon:hover {
  background-color: #5e32af;
}

.u-margin-v-small {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}
